Fightz

%div{'ng-controller' => 'FightController', 'ng-init' => 'current_fights()'}
  %form{class: 'simple-form', novalidate: ''}
    Opponent:
    %input{type: 'opponent', 'ng-model' => 'newFight.opponent'}
    %br
    Mech:
    %input{type: 'mech', 'ng-model' => 'newFight.my_mech'}
    %br
    %button{'ng-click' => 'create_fight(newFight)'} Create Fight
  .row
    .medium-3.columns
      %table
        %thead
          %td
            All Fights
        %tr{'ng-repeat' => 'fight in fights'}
          %td
            {{fight.id}}
      %table
        %thead
          %td
            Invited Fights
        %tr{'ng-repeat' => 'invited_fight in invited_fights'}
          %td
            {{invited_fight.id}}
