%form{class: 'simple-form', novalidate: ''}
  Opponent:
  %input{type: 'opponent', 'ng-model' => 'newFight.opponent'}
  %br
  Mech:
  %input{type: 'mech', 'ng-model' => 'newFight.my_mech'}
  %br
  %button{'ng-click' => 'create_fight(newFight)'} Create Fight
.row
  .medium-3.columns
    %table
      %thead
        %tr
          %td(colspan=3)
            My Fights
        %tr
          %td
            ID
          %td
            Users Invited
      %tr{'ng-repeat' => 'owned_fight in owned_fights'}
        %td
          {{owned_fight.id}}
        %td
          {{owned_fight.users_invited_names.join(',')}}
    %table
      %thead
        %tr
          %td(colspan=3)
            Invited Fights
        %tr
          %td
            ID
          %td
            Creator
          %td
            Actions
      %tr{'ng-repeat' => 'invited_fight in invited_fights'}
        %td
          {{invited_fight.id}}
        %td
          {{invited_fight.creator_name}}
        %td
          %button{'ng-click' => 'deny_fight(invited_fight)'}
            Deny
          Mech:
          %input{type: 'mech', 'ng-model' => 'invited_fight.my_mech'}
          %button{'ng-click' => 'accept_fight(invited_fight)'}
            Accept
