%form{class: 'simple-form', novalidate: ''}
  Opponent:
  %input{type: 'opponent', 'ng-model' => 'newFight.opponent'}
  %br
  Mech:
  %input{type: 'mech', 'ng-model' => 'newFight.my_mech'}
  %br
  %button{'ng-click' => 'create_fight(newFight)'} Create Fight
.row
  .medium-3.columns
    %table
      %thead
        %tr
          %td(colspan=4)
            In Progress Fights
        %tr
          %td
            ID
          %td
            Users Invited
          %td
            Users Accepted
          %td
            Actions
      %tr{'ng-repeat' => 'in_progress_fight in in_progress_fights'}
        %td
          {{in_progress_fight.id}}
        %td
          {{in_progress_fight.users_invited_names.join(',')}}
        %td
          {{in_progress_fight.users_accepted_names.join(',')}}
        %td
          %a{:href => '#/battle/{{in_progress_fight.id}}'} View
    %table
      %thead
        %tr
          %td(colspan=4)
            Fights Created
        %tr
          %td
            ID
          %td
            Users Invited
          %td
            Users Accepted
          %td
            Actions
      %tr{'ng-repeat' => 'owned_fight in owned_fights'}
        %td
          {{owned_fight.id}}
        %td
          {{owned_fight.users_invited_names.join(',')}}
        %td
          {{owned_fight.users_accepted_names.join(',')}}
        %td
          %button{'ng-click' => 'begin(owned_fight)'}
            Start
          Opponent:
          %input{type: 'mech', 'ng-model' => 'owned_fight.opponent'}
          %button{'ng-click' => 'invite(owned_fight)'}
            Invite
    %table
      %thead
        %tr
          %td(colspan=4)
            Upcoming Fights
        %tr
          %td
            ID
          %td
            Creator
          %td
            Users Invited
          %td
            Users Accepted
      %tr{'ng-repeat' => 'upcoming_fight in upcoming_fights'}
        %td
          {{upcoming_fight.id}}
        %td
          {{upcoming_fight.creator_name}}
        %td
          {{upcoming_fight.users_invited_names.join(',')}}
        %td
          {{upcoming_fight.users_accepted_names.join(',')}}
    %table
      %thead
        %tr
          %td(colspan=3)
            Fight Record
        %tr
          %td
            Date
          %td
            Result
          %td
            Participants
      %tr{'ng-repeat' => 'past_fight in past_fights | orderBy:\'start_time\':true'}
        %td
          {{past_fight.start_time | date:'EEE.dd-MM-yyyy@HH:mm(Z)'}}
        %td
          {{past_fight.current_user_result}}
        %td
          %b(style="display:block;"){'ng-repeat' => 'users_won_name in past_fight.users_won_names'}
            {{users_won_name}}
          %span(style="display:block;"){'ng-repeat' => 'users_lost_name in past_fight.users_lost_names'}
            {{users_lost_name}}
    %table
      %thead
        %tr
          %td(colspan=3)
            Invited Fights
        %tr
          %td
            ID
          %td
            Creator
          %td
            Actions
      %tr{'ng-repeat' => 'invited_fight in invited_fights'}
        %td
          {{invited_fight.id}}
        %td
          {{invited_fight.creator_name}}
        %td
          %button{'ng-click' => 'deny_fight(invited_fight)'}
            Deny
          Mech:
          %input{type: 'mech', 'ng-model' => 'invited_fight.my_mech'}
          %button{'ng-click' => 'accept_fight(invited_fight)'}
            Accept
