%div{'ng-controller' => 'MechController', 'ng-init' => 'load_mechs()'}
  %form{class: 'simple-form', novalidate: ''}
    Name:
    %input{type: 'name', 'ng-model' => 'newmech.name'}
    %button{'ng-click' => 'create_mech(newmech)'} Save Mech
  %table
    %tr{'ng-repeat' => 'mech in mechs'}
      %td {{mech.name}}
