%div{'ng-controller' => 'MessageController', 'ng-init' => 'load_messages()'}
  %form{class: 'simple-form', novalidate: ''}
    To:
    %input{type: 'to', 'ng-model' => 'newmsg.to'}
    %br
    Subject:
    %input{type: 'subject', 'ng-model' => 'newmsg.subject'}
    %br
    %textarea{type: 'body', 'ng-model' => 'newmsg.body'}
    %button{'ng-click' => 'create_message(newmsg)'} Send
  .row
    .medium-3.columns
      %table
        %thead
          %td
            From
          %td
            Subject
        %tr{'ng-repeat' => 'message in messages', 'ng-mouseenter' => 'set_message_body(this.message.body);'}
          %td
            {{message.from}}
          %td
            {{message.subject}}
    #message-body.medium-9.columns
      {{message_body}}