tr.unread {
    background: aliceblue !important;
}

html, body {
    height: 100%;
}

body {
    background: radial-gradient(darkgreen 7%, transparent 8%) 0 0;
    background-color: lightgrey;
    background-size: 16px 16px;
}

.body {
    background: white;
    margin: 10px;
    border: 10px solid darkgoldenrod;
    min-height: 90%;
}

a {
    color: darkgreen !important;
    font-weight: bold;
}

button {
    background-color: darkgreen;
}

button:hover {
    background-color: green;
}

button:focus {
    background-color: darkgoldenrod;
}