@import 'colors';
@import "compass/utilities/color/contrast";
@import "compass/css3/images";

tr.unread {
    background: aliceblue !important;
}

html, body {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}

body {
    @include contrasted($dark);
}

.body {
    @include contrasted($dark);
    min-height: 90%;
    max-height: 90%;
    margin: 2%;
}

a, h3 {
    color: $white !important;
    font-family: "Courier New", Courier, monospace;
}

button {
    @include contrasted($green);
    border: 1px solid $white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

button:hover {
    @include contrasted(scale-lightness($green, 10));
}

button:focus {
  @include contrasted(scale-lightness($green, 15));
}

thead tr {
  &:first-child td {
    @include contrasted($purple);
    font-weight: normal;
    &:before {
      font-size: 10px;
      content: '▷';
      float: left;
    }
  }
  td {
    text-align: center !important;
  }
}

form {
  border: 2px dashed $white;
  padding: 5px;
  input {
    width: 100%;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

.panel {
  border: 2px solid $white;
  @include contrasted($dark);
}